<!--
<h1>MAC Trac</h1>
<h2>Search for MAC Addresses</h2>
<form class="form-horizontal MACAddress">
  <input id="MAC" class="col-sm-10" type="text">
  <button class="search btn btn-submit">Search</button>
</form>
<h3>Search Results:</h3>
<ul class="search_results"></ul>

<div id="MACAddr"></div>
<div id="timestamp"></div>
<div id="username"></div>
<div id="description"></div>
<div id="type"></div>
<div id="IPAddr"></div>
<div id="deptOwner"></div>

<div id="register">
  <button type="button" class="btn btn-primary btn-block" onclick="location.href='/register'">Register New Device</button>
</div>
-->

<h1>Current people:</h1>
<h1>Handlebars JS Example</h1>
{{#each foo}}
{{this}}
{{/each}}
<table>
    <thead> 
        <th>MAC Address</th> 
        <th>Last Seen Timestamp</th> 
        <th>Username</th>
        <th>Device Name</th>  
        <th>Device Type</th>
        <th>IP Address</th>
        <th>Departmentally Owned?</th>
    </thead> 
    <tbody> 
        {{#each devices}} 
        <tr> 
            <td>{{MACAddress}}</td> 
            <td>{{timestamp}}</td> 
            <td>{{username}}</td> 
            <td>{{description}}</td>
            <td>{{type}}</td>
            <td>{{IPAddress}}</td>
            <td>{{deptOwner}}</td>
            <td><button onclick="deletePerson({{id}})">Delete</button></td>
            <td><a href="/update/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 

    <form id="adddevice" action="/devices" method="post">
    MAC Address: <input type="text" name="MACAddress"><br>
    Username: <input type="text" name="username"><br>
    IP Address: <input type="text" name="IPAddress"><br>
    <input type="submit" value="Submit">
    </form>
</table> 
